PORT=5000
MONGODB_URI=mongodb+srv://mmondino:ZebraTelevision@cluster0.y5iaxi6.mongodb.net/?teleremate-db=Cluster0

CLOUDINARY_CLOUD_NAME=ddrolueoo
CLOUDINARY_API_KEY=539324385959874
CLOUDINARY_API_SECRET=7splOn47-_67cbv2YU1Wtc-dLOQ

ADMIN_EMAIL=admin@teleremate.uy
ADMIN_PASSWORD=admin123
JWT_SECRET=super_secret_jwt_key_teleremate_2026
